$font_family: 'Archivo';
$background-color: white;
$font_size: (
  head_title: 3.5rem,
  head_nav: 1rem,
  card_title: 1.7rem,
  card_desc: 1rem,
  card_price: 1.5rem,
  foot_title: 1.5rem,
  foot_li: 1rem,
  product_price: 2.5rem,
  text_ajout_panier: 0.7rem,
);
